/* Rheaa's website is called wwww.raoreports.com 
*/
body {
	background: #B9C5C8;
	border-color: black;
}

h1 {
	color: purple;
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

p:first-letter {
	font-size: 18px;
}

p:first-line {
	color: #FCD04A;
}

hr {
	color: black;
}

h1:hover {
color:purple;
}

#content {
	max-width: 700px;
	border-width: 2px;
	background-color: #B9C5C8;
	border-style: solid;
	margin:50px auto 0 auto;
	padding: 20px;
	border-radius: 20%;
	overflow: hidden;
}

/* interesting changes */